/****************************
		COLORS
****************************/
$primary-color: #333333;
$secondary-color: #17a9de;
$complmentary-color: #fa233b;
$complementary-color-two: #fff;
$complementary-color-three: #000000;

/** LG COLORS **/
$lg-primary-color: #6d6d6d;
$lg-secondary-color: #ad1639;