/***************************
	FONTS AND FONT-SIZES
***************************/
$primary-font: Josefin Sans, sans-serif;
$secondary-font: Arial;

$primary-font-size: 18px;
$secondary-font-size: 20px;
/** Font-size Panasonic/LG **/