/****************************
		COLORS
****************************/

$primary-color: #333333;
$secondary-color: #17a9de;
$complmentary-color: #fa233b;
$complementary-color-two: #fff;
$complementary-color-three: #000000;

/***************************
		FONTS
***************************/

$primary-font: Josefin Sans, sans-serif;
$secondary-font: Arial;