/*****************************************
	page-start.php: HOME PAGE
******************************************/
main {
	/** First section on page-start.php **/

	.rvft-img-outer-container {

		background-image: url('Panasonic-startsida-desktop.jpg');
		height: 550px;
		margin-top: 250px;

		.rvft-img-inner-container {
    		width: 49%;		
		}
		.placeholder-div {
			display: block;
			width: 48%;
		}
	}
	/** Middle section before panasonic section **/
	.small-title-container {
		
		h4 {
			font-size: 24px;
		}
	}
	/** Second section Panasonic, on page-start.php **/
	.panasonic-container {
		display: flex;
		justify-content: center;
		height: 460px;

		.panasonic-img-container {
			
			width: 30%;

		}
		.panasonic-menu-container {
			
			width: 30%;			
		}
	}
	/** Third section LG, on page-start.php **/
	.lg-container {
		display: flex;
		justify-content: center;

		.lg-image-container {
			width: 30%;

		}
		.lg-menu-container {
			width: 30%;
		}
	}
}
/**********************************************************
	page-panasonicpumpsair.php: PANASONIC AIR PUMPS PAGE
***********************************************************/
.main-panasonic-air {
/** Panasonic support section on page-panasonicairpumps.php **/
	.panasonic-container {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		.panasonic-img-container {
			width: 49%;
		}
		.panasonic-menu-container {
			width: 49%;
		}
		.page-title-container-air {
			height: 80px;
			
		}

		
	}
	.panasonic-support-container {
		display: flex;
		flex-direction: column;

		.panasonic-support-text-container {
			display: flex;
			flex-wrap: wrap;
			width: 50%;

		}
	}
	/** Panasonic products section **/
	.panasonic-products-container {
		display: flex;
		justify-content: center;
		height: auto;
		width: 100%;

		.panasonic-products-inner-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 49%;
			.pana-products {
				margin-top: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.airpump-image {
					width: 100%;
					max-width: 300px;
				}
				.pana-products-text {
					width: 40%;
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {
			width: 49%;
			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}
}
/*****************************************************************
	page-panasonicpumpswater.php: PANASONIC AIR-WATER PUMPS PAGE
*****************************************************************/
.main-panasonic-water {

	.panasonic-container {

		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		height: 550px;

		.panasonic-img-container {
			width: 49%;
		}
		.panasonic-menu-container {
			width: 49%;
		}
	}
	.panasonic-support-container {

		.panasonic-support-text-container {
			width: 49%;
		}
	}
	/** Panasonic products section **/
	.panasonic-waterpump-products-container {
		display: flex;
		justify-content: center;
		height: auto;
		width: 100%;

		.panasonic-waterpump-products-inner-container {
			width: 49%;
			.pana-products {
				display: flex;
				justify-content: center;
				margin-top: 10px;

				.waterpump-image {
					padding: 15px;
					width: 100%;
					/*max-width: 140px;*/
				}
				.pana-products-text {
					width: 50%;
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {
			display: flex;
			justify-content: center;
			width: 49%;

		}
	}
}
/*****************************************************************
	page-lgsplitpumps.php: LG SPLIT PUMPS PAGE
*****************************************************************/
.main-lg-split-pumps {

	.lg-container {
		justify-content: center;
		height: 400px;
		width: 100%;

	}
	/** LG Support container **/
	.lg-support-container {
		height: 300px;

		.lg-support-text-container {
			width: 50%;
		
		}
	}
	/** LG Splitpumps section **/
	.lg-splitpumps-products-container {
		display: flex;
		justify-content: space-around;

		.lg-splitpumps-products-inner-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 49%;
		}
	}
	/** LG accessories section **/
	.accessories-container {
		width: 49%;
		.lg-products-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
}
/*****************************************************************
	page-contactus.php: Contact Us PAGE
*****************************************************************/
.main-contactus-container {

	background-image: url('contactusbackground-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	.contactus-flexbox-container {
		display: flex;
		justify-content: center;

		.contactus-container {
			margin-top: 50px;
			padding: 15px;
			width: 30%;

			.contactus-header-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			h3, p {
				color: $complementary-color-three;
			}
			h3 {
				
			}
			p, a {
				font-size: 18px;
			}
			a {
				color: $secondary-color;
			}
			a:hover {
				color: $complmentary-color;
			}
			
			.contactus-line {
				background-color: $complementary-color-three;
				height: 3px;
				width: 380px;
			}

		}
		.visitor-container {
			margin-top: 50px;
			padding: 15px;
			width: 30%;

			.visitor-header-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.visitor-title {
					color: $complementary-color-three;
				}
				.visitor-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}

		.streetadress-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 50px;

			.streetadress-image-container {
				width: 39%;
				.visitor-image {
					width: 100%;
					max-width: 200px;
				}
			}
			.streetadress-adress-container {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				margin-top: 50px;
				width: 39%;
				p, a {
					text-align: left;
					font-size: 18px;
					margin: 0;
				}
				a {
					color: $secondary-color;
				}
				a:hover {
					color: $complmentary-color;
				}
			}
		}
	}
	#wpforms-158-field_1, #wpforms-158-field_2, #wpforms-158-field_4, #wpforms-158-field_7 {
		max-width: 100%;
	}
	#wpforms-158-field_8 {
		width: 415px;
	}
}