/*****************************************
	page-start.php: HOME PAGE
******************************************/
main {
	/** First section on page-start.php **/
	.rvft-img-outer-container {
		height: 550px;

		.rvft-img-inner-container {
    		width: 49%;		
		}
		.placeholder-div {
			display: block;
			width: 48%;
		}
	}
	/** Middle section before panasonic section **/
	.small-title-container {
		
		h4 {
			font-size: 20px;
		}
	}
	/** Second section Panasonic, on page-start.php **/
	.panasonic-container {
		display: flex;
		height: 460px;

		.panasonic-img-container {
			/*display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px;*/
			width: 49%;

			/*.panasonic-image {
				width: 100%;
				max-width: 500px;
			}*/

			/*h3 {
				color: $complementary-color-two;
				.pana-heating {
					color: $complmentary-color;
				}
				.pana-cooling {
					color: $secondary-color;
				}
			}*/
		}
		.panasonic-menu-container {
			/*display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;*/
			width: 48%;

			/*.pana-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h2 {
					color: $complementary-color-two;
				}
				.products-line {
					background-color: $complementary-color-two;
					height: 3px;
					width: 380px;
				}
			}*/
			/*#menu-panasonic-meny {
				list-style: none;

				li > a {
					color: $complementary-color-two;
				}
				li > a:hover {
					color: $secondary-color;
				}
			}*/
			
		}
	}
	/** Third section LG, on page-start.php **/
	.lg-container {
		display: flex;
		/*padding: 15px;
		height: 400px;
		width: 100%;*/

		.lg-image-container {
			/*display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;*/
			width: 49%;

			/*h3 {
				color: #6d6d6d;
			}*/
		}
		.lg-menu-container {
			/*display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;*/
			width: 49%;

			/*.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}*/
			/*h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}*/
		}
	}
}

/**********************************************************
	page-panasonicpumpsair.php: PANASONIC AIR PUMPS PAGE
***********************************************************/
.main-panasonic-air {
/** Panasonic support section on page-panasonicairpumps.php **/
	.panasonic-container {
		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		.panasonic-img-container {
			width: 49%;
		}
		.panasonic-menu-container {
			width: 49%;
		}
		.page-title-container-air {
			/*color: $complementary-color-two;*/
			/*display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;*/
			height: 80px;
			/*width: 100%;*/
		}

		
	}
	.panasonic-support-container {
		/*background-color: #bababa;*/
		display: flex;
		flex-direction: column;
		/*height: 270px;
		width: 100%;*/

		.panasonic-support-text-container {
			display: flex;
			flex-wrap: wrap;
			/*line-height: 25px;
			padding: 15px;*/
			width: 50%;

			/*.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}*/
		}
	}
	/** Panasonic products section **/
	.panasonic-products-container {
		display: flex;
		justify-content: center;
		height: auto;
		width: 100%;

		.panasonic-products-inner-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 49%;
			.pana-products {
				margin-top: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.airpump-image {
					width: 100%;
					max-width: 300px;
				}
				.pana-products-text {
					/*line-height: 23px;
					padding: 15px;*/
					width: 40%;

					/*h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}*/
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {
			width: 49%;
			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}
}
/*****************************************************************
	page-panasonicpumpswater.php: PANASONIC AIR-WATER PUMPS PAGE
*****************************************************************/
.main-panasonic-water {

	.panasonic-container {

		display: flex;
		flex-wrap: wrap;
		margin-top: 15px;
		height: 550px;

		.panasonic-img-container {
			width: 49%;
		}
		.panasonic-menu-container {
			width: 49%;
		}
		.page-title-container-water {
			/*color: $complementary-color-two;
			text-align: center;
			width: 100%;*/
		}
	}
	.panasonic-support-container {
		/*background-color: #bababa;
		display: flex;
		height: 270px;
		width: 100%;*/

		.panasonic-support-text-container {
			/*line-height: 25px;
			padding: 15px;*/
			width: 49%;

			/*.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}*/
		}
	}
	/** Panasonic products section **/
	.panasonic-waterpump-products-container {
		display: flex;
		justify-content: center;
		height: auto;
		width: 100%;

		.panasonic-waterpump-products-inner-container {
			/*display: flex;
			flex-direction: column;
			justify-content: center;*/
			width: 49%;
			.pana-products {
				display: flex;
				justify-content: center;
				margin-top: 10px;

				.waterpump-image {
					padding: 15px;
					width: 100%;
					max-width: 170px;
				}
				.pana-products-text {
					/*line-height: 23px;
					padding: 15px;*/
					width: 50%;

					/*h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}*/
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {
			display: flex;
			justify-content: center;
			width: 49%;

			/*.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}*/
		}
	}
}
/*****************************************************************
	page-lgsplitpumps.php: LG SPLIT PUMPS PAGE
*****************************************************************/
.main-lg-split-pumps {

	.lg-container {
		height: 400px;
		width: 100%;

		/*.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				margin: 2px;
				padding: 0;
				color: #6d6d6d;
			}
		}*/
		/*.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}*/
	}
	/** LG Support container **/
	.lg-support-container {
		/*background-color: #f4f4f4;
		display: flex;*/
		height: 300px;
		/*width: 100%;*/

		
		.lg-support-text-container {
			/*line-height: 25px;
			padding: 15px;*/
			width: 50%;

			/*.lg-support-title {
				font-family: $primary-font;
			}
			p > a {
				font-weight: bold;
				color: $complementary-color-three;
			}
			p > a:hover {
				color: $lg-secondary-color;
			}*/
			
		}
	}
	/** LG Splitpumps section **/
	.lg-splitpumps-products-container {
		display: flex;
		justify-content: space-around;

		.lg-splitpumps-products-inner-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 49%;
			.lg-products {

				/*.splitpump-image {
					width: 100%;
					max-width: 350px;
				}
				.lg-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						font-weight: bold;
						color: $lg-secondary-color;
					}
				}*/
			}
		}
	}
	/** LG accessories section **/
	.accessories-container {
		width: 49%;
		.lg-products-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
}
/*****************************************************************
	page-contactus.php: Contact Us PAGE
*****************************************************************/
.main-contactus-container {

	background-image: url('contactusbackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	.contactus-flexbox-container {
		display: flex;
		.contactus-container {
			padding: 15px;
			width: 50%;

			.contactus-header-container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			h3, p {
				color: $complementary-color-three;
			}
			h3 {
				
			}
			p, a {
				font-size: 18px;
			}
			a {
				color: $secondary-color;
			}
			a:hover {
				color: $complmentary-color;
			}
			
			.contactus-line {
				background-color: $complementary-color-three;
				height: 3px;
				width: 380px;
			}

		}
		.visitor-container {
			width: 49%;

			.visitor-header-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.visitor-title {
					color: $complementary-color-three;
				}
				.visitor-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}

		.streetadress-container {

			.visitor-image {
				width: 100%;
				max-widht: 400px;
			}
		}
	}
}