.row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
  
  }
  .footer-container {
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .flex-item {
    margin-left: 60px;
    margin-right: 60px;
  }
  .flex-item-center, .flex-item-center2 {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
  }
  .footer-img {
    height: 35px;
    margin-right: 80px;
    margin-bottom: 20px;
  }
  .title-partner {
    text-align: center;
  }
  .employees-grid {
      margin-bottom: 50px;
  }
  @media only screen and (max-width: 1691px) {
    .footer-img {
      height: 30px;
      margin-right: 50px;
      }
  }
  
  /*****************************************
    footer.php: MEDIQ QUERY FOR TABLETS
  ******************************************/
  
  @media only screen and (max-width: 1381px) {
    .row {
      display: flex;
      align-items: center;
      width: 100%; 
  }
    .flex-item {
      margin-left: 15px;
      margin-right: 15px;
    }
    .footer-img{
      margin-right: 30px;
    }
  }
  @media only screen and (max-width: 1020px) {
    .footer-img {
      margin-right: 20px;
      height: 30px;
    }
  }
  
  /*****************************************
    footer.php: MEDIQ QUERY FOR TABLETS/PHONES
  ******************************************/
  
  @media only screen and (max-width: 977px) {
    .row {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 500px; 
  }
    .footer-img {
      height: 30px;
      margin-right: 15px;
    }
    .col-md-3 {
      text-align: center;
      border-bottom: 2px solid #fff;
      width: 70%;
    }
    .col-md-6 {
      order: 1;
      border-bottom: 2px solid #fff;
      width: 70%;
    }
  }
/**********************************************
      FOOTER SCSS
**********************************************/
footer {

  /*Support section*/
  .col-md-3 {

    .flex-item{

      ul {
        padding: 5px 0 5px 0;
        list-style: none;

        li > a {
          color: #fff;
        }
        li > a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }
}