/*.row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
  
  }
  .footer-container {
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .flex-item {
    margin-left: 60px;
    margin-right: 60px;
  }
  .flex-item-center, .flex-item-center2 {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
  }
  .footer-img {
    height: 35px;
    margin-right: 80px;
    margin-bottom: 20px;
  }
  .title-partner {
    text-align: center;
  }
  .employees-grid {
      margin-bottom: 50px;
  }
  @media only screen and (max-width: 1691px) {
    .footer-img {
      height: 30px;
      margin-right: 50px;
      }
  }*/
  
  /*****************************************
    footer.php: MEDIQ QUERY FOR TABLETS
  ******************************************/
  
  /*@media only screen and (max-width: 1381px) {
    .row {
      display: flex;
      align-items: center;
      width: 100%; 
  }
    .flex-item {
      margin-left: 15px;
      margin-right: 15px;
    }
    .footer-img{
      margin-right: 30px;
    }
  }
  @media only screen and (max-width: 1020px) {
    .footer-img {
      margin-right: 20px;
      height: 30px;
    }
  }*/
  
  /*****************************************
    footer.php: MEDIQ QUERY FOR TABLETS/PHONES
  ******************************************/
  
  /*@media only screen and (max-width: 977px) {
    .row {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 500px; 
  }
    .footer-img {
      height: 30px;
      margin-right: 15px;
    }
    .col-md-3 {
      text-align: center;
      border-bottom: 2px solid #fff;
      width: 70%;
    }
    .col-md-6 {
      order: 1;
      border-bottom: 2px solid #fff;
      width: 70%;
    }
  }*/
/**********************************************
      FOOTER SCSS
**********************************************/
/*footer {*/

  /*Support section*/
  /*.col-md-3 {

    .flex-item{

      ul {
        padding: 5px 0 5px 0;
        list-style: none;

        li > a {
          color: #fff;
        }
        li > a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }
}*/
/**********************************************
      FOOTER SCSS
**********************************************/

footer {

  .footer-container {
    background-color: #333333;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;

    .adress-container, .partners-container, .meny-container {
      border-bottom: 2px solid $complementary-color-two;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .adress-container {

        h1, p {
          color: $complementary-color-two;
        }
        p > a {
          color: $complementary-color-two;
          text-decoration: underline;
        }
        p > a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
    }

    .partners-container {
      width: 100%;
      padding: 10px;

      .title-partner {
        color: #fff;
        margin: 0 0 22px 0;
      }
      .partner-image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
        width: 100%;

        a:hover {
          webkit-box-shadow: 3px 11px 91px 0px rgba(255,255,255,1);
          -moz-box-shadow: 3px 11px 91px 0px rgba(255,255,255,1);
          box-shadow: 3px 11px 91px 0px rgba(255,255,255,1);
        }
        .footer-img {
          height: 30px;
          margin: 0 10px 10px 0;
        }
      }
    }
    .meny-container {

      h1 {
        color: $complementary-color-two;
      }

      ul {
        padding: 5px 0 5px 0;
        list-style: none;

        li {
          padding: 5px 0 5px 15px;
        }

        li > a {
          color: #fff;
          font-size: 18px;
        }
        li > a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }    
}
/*****************************************
    footer.php: MEDIQ QUERY FOR Tablets
******************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  footer {
    
    .footer-container {
      flex-wrap: wrap;
      justify-content: space-around;
      /*height: 400px;*/
      width: 100%;

      .adress-container {
        border-bottom: none;
        width: 20%;
      }
      .partners-container {
        border-bottom: none;
        width: 59%;
      }
      .meny-container {
        border-bottom: none;
        width: 20%;

        h1 {
          margin: 0 0 12px 0;
        }
      }
    }
  }
}
/********************************************************
    footer.php: MEDIQ QUERY FOR DESKTOP
********************************************************/
@media screen and (min-width: 1025px) and (max-width: 1480px) {

  footer {

    .footer-container {
      
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .adress-container, .partners-container, .meny-container {
        border-bottom: none;
        width: 20%;
      }
      .partners-container {
        border-bottom: none;
        width: 59%;
      }
      .meny-container {
        border-bottom: none;
        width: 20%;

        h1 {
          margin: 0 0 12px 0;
        }
      }
    }    
  }
}
/********************************************************
    footer.php: MEDIQ QUERY FOR  BIG SCREENS
********************************************************/
@media screen and (min-width: 1481px) and (max-width: 3000px) {

  footer {

    .footer-container {
      
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .adress-container, .partners-container, .meny-container {
        border-bottom: none;
        width: 32%;
      }
      .partners-container {
        border-bottom: none;
        width: 32%;
      }
      .meny-container {
        border-bottom: none;
        width: 32%;

        h1 {
          margin: 0 0 12px 0;
        }
      }
    }    
  }
}




