/**********************************************
      FOOTER SCSS
**********************************************/

footer {

  .footer-container {
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;

    .adress-container, .partners-container, .meny-container {
      border-bottom: 2px solid $complementary-color-two;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .adress-container {

        h1 {
          color: $complementary-color-two;
          font-family: $primary-font;
          font-size: $secondary-font-size;
        }

        p {
          color: $complementary-color-two;
          font-family: $primary-font;
          font-size: $primary-font-size;
        }
        p > a {
          color: $complementary-color-two;
          font-family: $primary-font;
          text-decoration: underline;
        }
        p > a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
    }

    .partners-container {
      width: 100%;
      padding: 10px;

      .title-partner {
        color: #fff;
        font-family: $primary-font;
        font-size: $secondary-font-size;
        margin: 0 0 22px 0;

      }
      .partner-image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;  
        width: 100%;

        .footer-img {
          height: 30px;
          margin: 0 10px 10px 0;
        }
      }
    }
    .meny-container {

      h1 {
        color: $complementary-color-two;
        font-family: $primary-font;
        font-size: $secondary-font-size;
      }

      ul {
        padding: 5px 0 5px 0;
        list-style: none;

        li {
          font-family: $primary-font;
          padding: 5px 0 5px 15px;
        }

        li > a {
          color: #fff;
          font-size: 18px;
        }
        li > a:hover {
          color: $secondary-color;
          text-decoration: none;
        }
      }
    }
  }    
}
/*****************************************
    footer.php: MEDIQ QUERY FOR Tablets
******************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  footer {
    
    .footer-container {
      flex-wrap: wrap;
      justify-content: space-around;
      /*height: 400px;*/
      width: 100%;

      .adress-container {
        flex-wrap: wrap;
        border-bottom: none;
        width: 20%;
      }
      .partners-container {
        border-bottom: none;
        width: 50%;

        .title-partner {
          margin: 0 0 40px 0;

        }
      }
      .meny-container {
        border-bottom: none;
        width: 20%;

        h1 {
          margin: 0 0 12px 0;
        }
      }
    }
  }
}
/********************************************************
    footer.php: MEDIQ QUERY FOR DESKTOP
********************************************************/
@media screen and (min-width: 1025px) and (max-width: 1480px) {

  footer {

    .footer-container {
      
      flex-wrap: wrap;
      justify-content: space-around;
      height: 300px;
      width: 100%;

      .adress-container, .partners-container, .meny-container {
        border-bottom: none;
        width: 20%;
      }
      .partners-container {
        border-bottom: none;
        width: 32%;
      }
      .meny-container {
        border-bottom: none;
        width: 20%;

        h1 {
          margin: 0 0 12px 0;
        }
      }
    }    
  }
}
/********************************************************
    footer.php: MEDIQ QUERY FOR  BIG SCREENS
********************************************************/
@media screen and (min-width: 1481px) and (max-width: 3000px) {

  footer {

    .footer-container {
      
      flex-wrap: wrap;
      justify-content: space-around;
      height: 300px;
      width: 100%;

      .adress-container, .partners-container, .meny-container {
        border-bottom: none;
        width: 32%;
      }
      .partners-container {
        border-bottom: none;
        width: 32%;
      }
      .meny-container {
        border-bottom: none;
        width: 32%;

        h1 {
          margin: 0 0 12px 0;
        }
      }
    }    
  }
}




