header {

	.top-header-container {
		background-color: $primary-color;
		height: 50px;
		width: 100%;
	}

	.header-container {
		display: flex;
		justify-content: center;
		height: 200px;
		width: 100%;
	}

	.inner-header-container {
		background-color: $primary-color;
		border: 1px solid $primary-color;
		border-radius: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		height: 120px;
		width: 98%;

		.logotype {
			margin-left: 10px;
			width: 100%;
			max-width: 500px;
		}
		.navigation-menu {
			display: flex;

			ul {
				
				list-style: none;
			}
		}
		
	}

	
}