header {
	position: fixed;
	top: 0px;
	transition: top 0.2s ease-in-out;
	width: 100%;
	
	.top-header-container {
		background-color: $primary-color;
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.top-header-logotype {
			display: none;
		}
	}

	.header-container {
		background-color: #f4f4f4;
		display: flex;
		justify-content: center;
		height: 150px;
		width: 100%;
	}

	.inner-header-container {
		background-color: $primary-color;
		border: 1px solid $primary-color;
		border-radius: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin-top: 20px;
		height: 100px;
		width: 98%;

		.logotype {
			margin-left: 10px;
			width: 100%;
			max-width: 310px;
		}
		.navigation-menu {
			display: flex;

			.menu {
				width: 600px;
			}
			
		}
		
	}

}
.nav-up {
	    top: -40px;
	}
/*************************************************************
	Media query for company logos in topheader - Tablets
*************************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
	header {
		
		.top-header-container {

			.top-header-logotype {
				display: block;
				margin-right: 15px;
				padding: 5px;
				width: 150px;
				
			}
		}
	}
}
/*************************************************************
	Media query for company logos in topheader - Desktop
*************************************************************/
@media screen and (min-width: 1025px) and (max-width: 1480px) {
	
	header {
		
		.top-header-container {

			.top-header-logotype {
				display: block;
				margin-right: 15px;
				padding: 5px;
				width: 170px;
				
			}
		}
	}
}
