header {
	position: fixed;
	top: 0px;
	width: 100%;
	
	.top-header-container {
		background-color: $primary-color;
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.top-header-logotype {
			margin-right: 15px;
			padding: 5px;
			width: 100%;
			max-width: 50px;
		}
	}

	.header-container {
		background-color: #f4f4f4;
		display: flex;
		justify-content: center;
		height: 150px;
		width: 100%;
	}

	.inner-header-container {
		background-color: $primary-color;
		border: 1px solid $primary-color;
		border-radius: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin-top: 20px;
		height: 100px;
		width: 98%;

		.logotype {
			margin-left: 10px;
			width: 100%;
			max-width: 310px;
		}
		.navigation-menu {
			display: flex;

			.menu {
				width: 600px;
			}
			
		}
		
	}

	
}