/************************************************
			CSS FOR HEADER SECTION ONLY
************************************************/
header {
	position: fixed;
	top: 0px;
	transition: top 0.4s ease-in-out;
	width: 100%;
	
	.top-header-container {
		background-color: $primary-color;
		height: 5px;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.top-header-logotype, .top-header-logotype1, .top-header-logotype2 {
			display: none;
		}
	}

	.header-container {
		background-color: #f4f4f4;
		display: flex;
		justify-content: center;
		height: 150px;
		width: 100%;

		.inner-header-container {
			background-color: $primary-color;
			border: 1px solid $primary-color;
			border-radius: 50px;
			display: flex;
			flex-direction: column;
			/*flex-wrap: wrap;*/
			justify-content: space-around;
			align-items: center;
			margin-top: 20px;
			height: 100px;
			width: 98%;

			.logotype {
				margin-left: 10px;
				width: 100%;
				max-width: 265px;
			}
			.navigation-menu {
				display: flex;

				.menu {
					width: 600px;
				}
				
			}
			
		}
	}
}
/*This class is for making header meny dissapear when scrolling down and return when
changing scroll direction*/
.nav-up {
    top: -200px;
}
/*************************************************************
	Media query for company logos in topheader - Tablets
*************************************************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
	header {
		
		.top-header-container {
			height: 50px;

			.top-header-logotype, .top-header-logotype1, .top-header-logotype2 {
				display: flex;
				height: 40px;
				margin-right: 15px;
				padding: 5px;
				width: 170px;
			}

			/*.top-header-logotype {
				display: flex;
				margin-right: 15px;
				padding: 5px;
				width: 150px;
				
			}*/
		}
		.header-container {

			.inner-header-container {
				/*flex-direction: row;*/

				.logotype {
					margin-left: 10px;
					width: 100%;
					max-width: 275px;
				}
			}
		}
	}
}
/*************************************************************
	Media query for company logos in topheader - Desktop
*************************************************************/
@media screen and (min-width: 1025px) and (max-width: 3000px) {
	
	header {
		
		.top-header-container {
			height: 50px;

			.top-header-logotype, .top-header-logotype1, .top-header-logotype2 {
				display: flex;
				height: 40px;
				margin-right: 15px;
				padding: 5px;
				width: 170px;
			}
			/*.top-header-logotype {
				display: flex;
				margin-right: 15px;
				padding: 5px;
				width: 170px;
				
			}*/
		}
		.header-container {

			.inner-header-container {
				flex-direction: row;
				.logotype {
					margin-left: 10px;
					width: 100%;
					max-width: 330px;
				}
			}
		}
	}
}
