/*******************************
	Main.scss is for mobile 
	first
********************************/
/*******************************
		HOME PAGE
*******************************/
main {
	
	.rvft-img-outer-container {
		background-image: url('varmepump.jpeg');
		background-size: cover;
  		background-repeat: no-repeat;
		display: flex;
		height: 400px;
		width: 100%;

		.rvft-img-inner-container {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
			
			.rvft-img-logo {
				width: 100%;
				max-width: 500px;
			}
		}
	}
	.small-title-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.panasonic-container {
		background-color: $complementary-color-three;
		height: 400px;
		width: 100%;

		.panasonic-img-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				color: $complementary-color-two;
				.pana-heating {
					color: $complmentary-color;
				}
				.pana-cooling {
					color: $secondary-color;
				}
			}
		}
		.panasonic-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.pana-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h2 {
					color: $complementary-color-two;
				}
				.products-line {
					background-color: $complementary-color-two;
					height: 3px;
					width: 380px;
				}
			}
			#menu-panasonic-meny {
				list-style: none;

				li > a {
					color: $complementary-color-two;
				}
				li > a:hover {
					color: $secondary-color;
				}
			}
			
		}
	}
	.lg-container {
		height: 400px;
		width: 100%;

		.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				color: #6d6d6d;
			}
		}
		.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: #6d6d6d;
				}
				.products-line {
					background-color: #6d6d6d;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: #6d6d6d;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: #6d6d6d;
				}
				li > a:hover {
					color: $complmentary-color;
				}
			}
		}
	}
}

/************************************
	PANASONIC AIR PUMPS PAGE
************************************/
.main-panasonic-air {

	.panasonic-support-container {
		background-color: #bababa;
		display: flex;
		height: 270px;
		width: 100%;

		.panasonic-support-text-container {
			line-height: 25px;
			padding: 15px;
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}
		}
	}

}