/**************************************
	Main.scss is for mobile 
	first.

	Every section is named after
	every php file. Use ctrl/cmd + f
	to find css for each page.php file.
***************************************/
/*****************************************
	page-start.php: HOME PAGE
******************************************/
main {
	/** First section on page-start.php **/
	margin-top: 210px;
	.rvft-img-outer-container {
		background-image: url('Panasonic-startsida-mobile.jpg');
		background-size: cover;
  		background-repeat: no-repeat;
  		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		height: 400px;
		width: 100%;

		.rvft-img-inner-container {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
    		padding: 15px;
			
			.rvft-img-logo {
				width: 100%;
				max-width: 500px;
			}
		}
		.placeholder-div {
			display: none;
		}
	}
	/** Middle section before panasonic section **/
	.small-title-container {
		border: solid 2px black;
		display: flex;
		justify-content: center;
		padding: 10px;
		width: 100%;

	}
	/** Second section LG, on page-start.php **/
	.lg-container {
		padding: 15px;
		height: 485px;
		width: 100%;

		.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.lg-image{
				width: 100%;
				max-width: 380px;
			}

			h3 {
				color: #6d6d6d;
			}
		}
		.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}
		}
	}
	/** Third section Panasonic, on page-start.php **/
	.panasonic-container {
		background-color: $complementary-color-three;
		height: 430px;
		width: 100%;

		.panasonic-img-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px;

			.panasonic-image {
				width: 100%;
				max-width: 300px;
			}

			h3 {
				color: $complementary-color-two;
				.pana-heating {
					color: $complmentary-color;
				}
				.pana-cooling {
					color: $secondary-color;
				}
			}
		}
		.panasonic-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.pana-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h2 {
					color: $complementary-color-two;
				}
				.products-line {
					background-color: $complementary-color-two;
					height: 3px;
					width: 380px;
				}
			}
			#menu-panasonic-meny {
				list-style: none;

				li > a {
					color: $complementary-color-two;
				}
				li > a:hover {
					color: $secondary-color;
				}
			}
			
		}
	}
	
}

/**********************************************************
	page-panasonicpumpsair.php: PANASONIC AIR PUMPS PAGE
***********************************************************/
.main-panasonic-air {
/** Panasonic support section on page-panasonicairpumps.php **/

	.panasonic-container {

		height: 490px;
		.page-title-container-air {
			color: $complementary-color-two;
			text-align: center;
			width: 100%;
		}
	}
	.panasonic-support-container {
		background-color: #bababa;
		display: flex;
		height: 310px;
		width: 100%;

		.panasonic-support-text-container {
			line-height: 25px;
			padding: 15px;

			.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}
		}
	}
	/** Panasonic products section **/
	.panasonic-products-container {
		height: auto;
		width: 100%;

		.panasonic-products-inner-container {

			.pana-products {
				margin-top: 10px;

				.airpump-image {
					width: 100%;
					max-width: 470px;
				}
				.pana-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {

			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}
}
/*****************************************************************
	page-panasonicpumpswater.php: PANASONIC AIR-WATER PUMPS PAGE
*****************************************************************/
.main-panasonic-water {
	margin-top: 210px;
	.panasonic-container {
		height: 490px;

		.page-title-container-water {
			color: $complementary-color-two;
			text-align: center;
			width: 100%;
		}
	}
	.panasonic-support-container {
		background-color: #bababa;
		display: flex;
		height: 310px;
		width: 100%;

		.panasonic-support-text-container {
			line-height: 25px;
			padding: 15px;

			.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}
		}
	}
	/** Panasonic products section **/
	.panasonic-waterpump-products-container {
		height: auto;
		width: 100%;

		.panasonic-waterpump-products-inner-container {

			.pana-products {
				margin-top: 10px;

				.waterpump-image {
					padding: 15px;
					width: 100%;
					max-width: 200px;
				}
				.pana-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {

			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}
}
/*****************************************************************
	page-lgsplitpumps.php: LG SPLIT PUMPS PAGE
*****************************************************************/
.main-lg-split-pumps {

	.lg-container {
		height: 400px;
		width: 100%;

		.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				margin: 2px;
				padding: 0;
				color: #6d6d6d;
			}
		}
		.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
	/** LG Support container **/
	.lg-support-container {
		background-color: #f4f4f4;
		display: flex;
		height: 400px;
		width: 100%;

		
		.lg-support-text-container {
			line-height: 25px;
			padding: 15px;

			.lg-support-title {
				font-family: $primary-font;
			}
			p > a {
				font-weight: bold;
				color: $complementary-color-three;
			}
			p > a:hover {
				color: $lg-secondary-color;
			}
			
		}
	}
	/** LG Splitpumps section **/
	.lg-splitpumps-products-container {

		.lg-splitpumps-products-inner-container {

			.lg-products {

				.splitpump-image {
					width: 100%;
					max-width: 350px;
				}
				.lg-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						font-weight: bold;
						color: $lg-secondary-color;
					}
				}
			}
		}
	}
	/** LG accessories section **/
	.accessories-container {

		.lg-products-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
}
/*****************************************************************
	page-contactus.php: Contact Us PAGE
*****************************************************************/
.main-contactus-container {

	background-image: url('contactusbackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.contactus-container {
		padding: 15px;
		width: 100%;
		.contactus-header-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		h3, p {
			color: $complementary-color-three;
		}
		h3 {
			
		}
		p, a {
			font-size: 18px;
		}
		a {
			color: $secondary-color;
		}
		a:hover {
			color: $complmentary-color;
		}
		
		.contactus-line {
			background-color: $complementary-color-three;
			height: 3px;
			width: 380px;
		}

	}
	.visitor-container {
		width: 100%;
		.visitor-header-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.visitor-title {
				color: $complementary-color-three;
			}
			.visitor-line {
				background-color: $complementary-color-three;
				height: 3px;
				width: 380px;
			}
		}

		.streetadress-container {

			.visitor-image {
				width: 100%;
				max-widht: 400px;
			}
		}
	}
}

/***********************************************************************************************************
  Inför.php: INFÖR 
*************************************************************************************************************/

.main-installation {
	font-family: 'Oswald', sans-serif;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	height: 1200px;
	flex: 1 auto;
}
.box {
	text-align: center;
	flex: 1 auto;
	flex-basis: 250px;
	
}
.box1, .box2, .box3 {
	margin-bottom: 35px;
	margin-left: 35px;
	background-color: #ced9d3;
	border-radius: 10px;
	flex: 1 auto;
}
.box1 {
	width: 65%;
}
.box2 {
	width: 65%;
	margin-top: 40px;
}
.box3 {
	width: 65%;
	margin-top: 40px;
}
.box4 {

	width: 30%;
}
.box5 {

	width: 30%;
}
/*.box2 {
	flex-grow: 0;
}
*/
.installation-img {
	width: 77%;
}
.installation-img-two {
	margin-top: 80px;
}
@media only screen and (max-width: 1255px) {
	.installation-img {
	width: 100%;
	}
}

@media only screen and (max-width: 1025px) {
	.main-installation {
		height: 100%;
	} 
	.box1,.box2,.box3,.box4,.box5 {
		margin-left: 0; 
		width: 100%;
		flex: 1 auto;

	}
	.box1 {
		order: 1;
	}
	.box2 {
		order: 3;
	}
	.box3 {
		order: 4;
	}
	.box4 {
		order: 2;
	}
	.box5 {
		order: 5;
	}
	.installation-img {
    width: 52%;
    height: 500px;
    margin-bottom: 33px
	}
	.installation-img-two {
	margin-top: 0;
}
	.info-box {
		margin-bottom: 70px;
	}
}

/***********************************************************************************************************
  anställda.php: ANSTÄLLDA STYLE
*************************************************************************************************************/

/*GRID FOR ANSTÄLLDA*/
.employees-grid {
	display: flex;
	flex-flow: row; 
	flex-wrap: wrap;
  }
 
  .grid-cell {
	flex: 1 auto;
	background-color: #f8faf9;
	display: flex;
    justify-content: center;
  }
  .grid-cell-info {
  	flex-direction: column;
  }
  
  
  .info-box {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  align-content: center;
	  background-color: #ced9d3;
	  color: #fff;
	  text-align: center;
	  margin-top: 60px;
	  margin-bottom: 40px;
	  margin-right: 60px;
	  margin-left: 60px;
	  height: 150px;
  }
  
  @media only screen and (max-width: 1050px) {
	.profile-pic {
	width: 400px;
    height: 240px
  }
  .profile-pic-even {
  	margin-top: 50px;
  }
  .employees-grid {
	  justify-content: space-around;
	margin-bottom: 50px;
  }
  }
  @media only screen and (max-width: 806px) { 
	  .profile-pic {
	  width: 320px;	
  }
   .center {
   text-align: center;
  }


  }
 
  

  /***********************************************************************************************************
  Inför.php: OM FÖRETAGET
*************************************************************************************************************/
.title-certifierad {
	text-align: center;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	font-weight: bold;
	margin-bottom: 120px;
}

.col-md-4, .col-md-offset-2, .incert-imgbox {
	position: inherit;
}
.line-black {
	border-bottom: 3px solid #000;
	width: 420px;
}
.line-white {
	border-bottom: 3px solid #fff;
	width: 420px;
}
.panasonic-img {
	padding-bottom: 120px;
}
.pro-partners {
	background-color: #000;
	width: 100%;
	height: inherit !important;
	color: #fff;	
	
	margin-top: 170px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
@media only screen and (max-width: 976px) {
	.title-certifierad {
		margin-bottom: 0;
	}
}

.slasktext {
	text-align: center;
}

.flex-container {
	display: flex;
	width: 70%;
	flex-wrap: wrap; 
	/*background-color: #f1f1f1;*/
	border:none;
	border-bottom:5px dotted grey;
	text-align: center;
	margin-bottom: 15px;
	margin-left: 10px;
}


.blog-title, .blog-author {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	flex: 1 auto;
}
.blog-img {
	width: 300px;
	margin-right: 20px;
}

.author-content {
	height: 160px;
	width: 50%;
}

.blog-picture {
	justify-content: flex-end;
    display: flex;
	width: 28%;
	height: 265px;
}
.attachment-home-thumb, .size-home-thumb, .wp-post-image {
	width: 272px; 
	height: 275px;
	border-radius: 50%;
}
// .picture-blog {
// 	width: 272px; 
// 	height: 275px;
// 	border-radius: 50%;
// }

.blog-button {
	display: flex;
	width: 50%;
}

.button-read {
	height: 50px;
    width: 120px;
	border-radius: 20px;
	margin-bottom: 10px;
	background-color: #fc3a51;
	font-weight: bold;
	
}

@media only screen and (max-width: 1330px) { 
	.flex-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 0;
}
.blog-picture {
	justify-content: center;
    display: flex;
	width: 100%;
	height: 265px;
}
.author-content {
	height: inherit;
	width: 100%;
}
.button-read {
	margin-top: 20px;
}
.blog-button {
	
	width: 100%;
	justify-content: center;
}

}

@media only screen and (max-width: 875px) {
	.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
	.blog-title, .blog-author {
		display: flex;
		flex-direction: column;
	}
}

  /***********************************************************************************************************
  SINGEL/INDEX.php: SINGEL BLOGGPOST
*************************************************************************************************************/
.main-blog-container {
	display: flex;
	justify-content: center;
	width: 100%;
}
.blog-img-container-singel {

}
.blog-info-singel {
	text-align: center;
}
.blog-content-singel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}
.blog-picture-singelpage {
	display: flex;
	justify-content: center;
}