/**************************************
	Main.scss is for mobile 
	first.

	Every section is named after
	every php file. Use ctrl/cmd + f
	to find css for each page.php file.
***************************************/
/*****************************************
	page-start.php: HOME PAGE
******************************************/
main {
	/** First section on page-start.php **/
	margin-top: 210px;
	.rvft-img-outer-container {
		background-image: url('varmepump.jpeg');
		background-size: cover;
  		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		height: 400px;
		width: 100%;

		.rvft-img-inner-container {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
    		padding: 15px;
			
			.rvft-img-logo {
				width: 100%;
				max-width: 500px;
			}
		}
		.placeholder-div {
			display: none;
		}
	}
	/** Middle section before panasonic section **/
	.small-title-container {
		display: flex;
		justify-content: center;
		padding: 10px;
		width: 100%;
	}
	/** Second section Panasonic, on page-start.php **/
	.panasonic-container {
		background-color: $complementary-color-three;
		height: 430px;
		width: 100%;

		.panasonic-img-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 15px;

			.panasonic-image {
				width: 100%;
				max-width: 500px;
			}

			h3 {
				color: $complementary-color-two;
				.pana-heating {
					color: $complmentary-color;
				}
				.pana-cooling {
					color: $secondary-color;
				}
			}
		}
		.panasonic-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.pana-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h2 {
					color: $complementary-color-two;
				}
				.products-line {
					background-color: $complementary-color-two;
					height: 3px;
					width: 380px;
				}
			}
			#menu-panasonic-meny {
				list-style: none;

				li > a {
					color: $complementary-color-two;
				}
				li > a:hover {
					color: $secondary-color;
				}
			}
			
		}
	}
	/** Third section LG, on page-start.php **/
	.lg-container {
		padding: 15px;
		height: 400px;
		width: 100%;

		.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				color: #6d6d6d;
			}
		}
		.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}
		}
	}
}

/**********************************************************
	page-panasonicpumpsair.php: PANASONIC AIR PUMPS PAGE
***********************************************************/
.main-panasonic-air {
/** Panasonic support section on page-panasonicairpumps.php **/

	.page-title-container-air {
		color: $complementary-color-two;
		text-align: center;
		width: 100%;
	}
	.panasonic-support-container {
		background-color: #bababa;
		display: flex;
		height: 270px;
		width: 100%;

		.panasonic-support-text-container {
			line-height: 25px;
			padding: 15px;

			.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}
		}
	}
	/** Panasonic products section **/
	.panasonic-products-container {
		height: auto;
		width: 100%;

		.panasonic-products-inner-container {

			.pana-products {
				margin-top: 10px;

				.airpump-image {
					width: 100%;
					max-width: 470px;
				}
				.pana-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {

			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}
}
/*****************************************************************
	page-panasonicpumpswater.php: PANASONIC AIR-WATER PUMPS PAGE
*****************************************************************/
.main-panasonic-water {
	margin-top: 210px;
	.page-title-container-water {
		color: $complementary-color-two;
		text-align: center;
		width: 100%;
	}
	.panasonic-support-container {
		background-color: #bababa;
		display: flex;
		height: 270px;
		width: 100%;

		.panasonic-support-text-container {
			line-height: 25px;
			padding: 15px;

			.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}
		}
	}
	/** Panasonic products section **/
	.panasonic-waterpump-products-container {
		height: auto;
		width: 100%;

		.panasonic-waterpump-products-inner-container {

			.pana-products {
				margin-top: 10px;

				.waterpump-image {
					padding: 15px;
					width: 100%;
					max-width: 200px;
				}
				.pana-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {

			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}
}
/*****************************************************************
	page-lgsplitpumps.php: LG SPLIT PUMPS PAGE
*****************************************************************/
.main-lg-split-pumps {

	.lg-container {
		height: 400px;
		width: 100%;

		.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				margin: 2px;
				padding: 0;
				color: #6d6d6d;
			}
		}
		.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
	/** LG Support container **/
	.lg-support-container {
		background-color: #f4f4f4;
		display: flex;
		height: 400px;
		width: 100%;

		
		.lg-support-text-container {
			line-height: 25px;
			padding: 15px;

			.lg-support-title {
				font-family: $primary-font;
			}
			p > a {
				font-weight: bold;
				color: $complementary-color-three;
			}
			p > a:hover {
				color: $lg-secondary-color;
			}
			
		}
	}
	/** LG Splitpumps section **/
	.lg-splitpumps-products-container {

		.lg-splitpumps-products-inner-container {

			.lg-products {

				.splitpump-image {
					width: 100%;
					max-width: 350px;
				}
				.lg-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						font-weight: bold;
						color: $lg-secondary-color;
					}
				}
			}
		}
	}
	/** LG accessories section **/
	.accessories-container {

		.lg-products-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
}
/*****************************************************************
	page-contactus.php: Contact Us PAGE
*****************************************************************/
.main-contactus-container {

	background-image: url('contactusbackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.contactus-container {
		padding: 15px;

		.contactus-header-container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		h3, p {
			color: $complementary-color-three;
		}
		h3 {
			
		}
		p, a {
			font-size: 18px;
		}
		a {
			color: $secondary-color;
		}
		a:hover {
			color: $complmentary-color;
		}
		
		.contactus-line {
			background-color: $complementary-color-three;
			height: 3px;
			width: 380px;
		}

	}
}