/**************************************
	Main.scss is for mobile 
	first.

	Every section is named after
	every php file. Use ctrl/cmd + f
	to find css for each php file.
***************************************/
/*****************************************
	page-start.php: HOME PAGE
******************************************/
main {
	/** First section on page-start.php **/
	.rvft-img-outer-container {
		background-image: url('varmepump.jpeg');
		background-size: cover;
  		background-repeat: no-repeat;
		display: flex;
		height: 400px;
		width: 100%;

		.rvft-img-inner-container {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
			
			.rvft-img-logo {
				width: 100%;
				max-width: 500px;
			}
		}
	}
	/** Middle section before panasonic section **/
	.small-title-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	/** Second section Panasonic, on page-start.php **/
	.panasonic-container {
		background-color: $complementary-color-three;
		height: 400px;
		width: 100%;

		.panasonic-img-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				color: $complementary-color-two;
				.pana-heating {
					color: $complmentary-color;
				}
				.pana-cooling {
					color: $secondary-color;
				}
			}
		}
		.panasonic-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.pana-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h2 {
					color: $complementary-color-two;
				}
				.products-line {
					background-color: $complementary-color-two;
					height: 3px;
					width: 380px;
				}
			}
			#menu-panasonic-meny {
				list-style: none;

				li > a {
					color: $complementary-color-two;
				}
				li > a:hover {
					color: $secondary-color;
				}
			}
			
		}
	}
	/** Third section LG, on page-start.php **/
	.lg-container {
		height: 400px;
		width: 100%;

		.lg-image-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h3 {
				color: #6d6d6d;
			}
		}
		.lg-menu-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.lg-products-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h2 {
					color: $lg-primary-color;
				}
				.products-line {
					background-color: $lg-primary-color;
					height: 3px;
					width: 380px;
				}
			}
			h3 {
				color: $lg-primary-color;
			}
			#menu-lg-menu {
				list-style: none;

				li > a {
					color: $lg-primary-color;
				}
				li > a:hover {
					color: $lg-secondary-color;
				}
			}
		}
	}
}

/**********************************************************
	page-panasonicairpumps.php: PANASONIC AIR PUMPS PAGE
***********************************************************/
.main-panasonic-air {
/** Panasonic support section on page-panasonicairpumps.php **/
	.panasonic-support-container {
		background-color: #bababa;
		display: flex;
		height: 270px;
		width: 100%;

		.panasonic-support-text-container {
			line-height: 25px;
			padding: 15px;

			.support-title {
				font-family: $primary-font;
			}
			.Panasonic {
				color: $complementary-color-three;
				font-weight: bolder;
			}
			.pan-customer {
				color: $complmentary-color;
				font-weight: bolder;
			}
			.pan-customer-service {
				color: $secondary-color;
				font-weight: bolder;
			}
		}
	}
	/** Panasonic products section **/
	.panasonic-products-container {
		height: auto;
		width: 100%;

		.panasonic-products-inner-container {

			.pana-products {
				margin-top: 10px;

				.airpump-image {
					width: 100%;
					max-width: 470px;
				}
				.pana-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: 20px;
					}
					p > a {
						color: $secondary-color;
					}
				}
			}
		}
		/** Panasonic accessories section **/
		.accessories-container {

			.pana-products-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.products-line {
					background-color: $complementary-color-three;
					height: 3px;
					width: 380px;
				}
			}
		}
	}

}