/*****************************************
	page-start.php: HOME PAGE
******************************************/
main {
	/** First section on page-start.php */
	.rvft-img-outer-container {
		background-image: url('Panasonic-startsida-tablet.jpg');
		
		.rvft-img-inner-container {

    		width: 100%;
			
			.rvft-img-logo {
				width: 100%;
				max-width: 500px;
			}
		}
		.placeholder-div {
			display: none;
		}
	}
	
}
/*****************************************************************
	page-lgsplitpumps.php: LG SPLIT PUMPS PAGE
*****************************************************************/
.main-lg-split-pumps {
	
	/** LG Support section container **/
	.lg-support-container {

		height: 300px;

		/*Certificate in support section, isn't shown in tablet view*/
		.lg-businesspartners-container {
			display: none; /*Dont display certificate container in tablet view*/
		}
	}
	/** LG Splitpumps section **/
	.lg-splitpumps-products-container {
		display: flex;
		justify-content: space-around;

		.lg-splitpumps-products-inner-container {

			.lg-products {

				.splitpump-image {
					width: 100%;
					max-width: 350px;
				}
				.lg-products-text {
					line-height: 23px;
					padding: 15px;

					h3 {
						font-size: $secondary-font-size;
					}
					p > a {
						font-weight: bold;
						color: $lg-secondary-color;
					}
				}
			}
		}
	}
	/** LG accessories section **/
	.accessories-container {

		.lg-products-container {
			/*_mixin.scss*/
			@include flex-align-center;
			.products-line {
				background-color: $lg-primary-color;
				height: 3px;
				width: 380px;
			}
		}
	}
}
/*****************************************************************
	page-contactus.php: Contact Us PAGE
*****************************************************************/
.main-contactus-container {

	background-image: url('contactusbackground-tablet1.jpg');

	.contactus-flexbox-container {
		/*_mixin.scss*/
		@include flex-center;
		.contactus-container {
			width: 70%;
		}
		.streetadress-container {

			.streetadress-image-container {
				display: flex;
				justify-content: center;
				align-items: center;
				.visitor-image {
					padding: 20px;
					width: 100%;
					max-width: 600px;
				}
			}
		}
	}

	#wpforms-158-field_8 {
		width: 415px;
	}
	#wpforms-377-field_5 {
		width: 60%;
	}
}
/**************************************************************
	page-aboutus.php - About Company Tablet
**************************************************************/
.main-aboutus-container {

	.aboutus-box-title {
		/*@include flex-justify-center;*/
		display: flex;
		flex-direction: row;
		width: 100%;
		.info-aboutus {
			width: 49%;
		}
		.info-aboutus-img-container {
			width: 48%;
		}
	}
	.box-company1 { 

		.container-box-aboutus-left {

			.aboutus-content {

				.imgbox-aboutus {

					.aboutus-img-incert {
						width: 100%;
						max-width: 200px;
					}
				}
			}
		}
	}
}
/**************************************************************
	page-employess.php - Employees Tablet
**************************************************************/
.main-employees {

	.flexbox-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		.employee-container {
			display: flex;
			/*flex-direction: row;*/
			justify-content: space-around;
			align-items: center;
			width: 100%;
			.employee-img-container {
				widht: 50%;
				img {
					width: 100%;
					max-width: 400px;
				}
			}
			.employee-info-container {
				justify-content: flex-start;
				align-items: flex-start;
				padding: 20px;
				width: 48%;
			}
		}
	}
}
