@import "normalize";
@import "base";
@import "header";
@import "main";
@import "footer";

@media screen and (min-width: 768px) and (max-width: 1024px) {
	@import "tablets"
}
@media screen and (min-width: 1025px) and (max-width: 1480px) {
	@import "desktop";
}
@media screen and (min-width: 1481px) and (max-width: 3000px) {
	@import "bigscreens";
}
